<%- include('../components/header') %>
  <h1 class="header">Q & A Community</h1>

  <div class="log">
    <form method="POST" action="/login" class="log_form">
      <div class="login_title">
        <h2>Log in</h2>
        <a href="/signUp">Sing Up</a>
      </div>
      <div class="mb-3">
        <label for="email1" class="form-label">Email address</label>
        <input value="<%= result?.email %> " name="email" type="email" class="form-control" value="" id="email1">
        <small class="warning" class="form-text"><%= error?.email %> </small>
      </div>
      <div class="mb-3">
        <label for="password1" class="form-label">Password</label>
        <input name="password" type="password" class="form-control" value="" id="password1">
        <small class="warning" class="form-text"><%= error?.password %> </small>
      </div>
      <button type="submit" class="btn btn-primary">Log in</button>
    </form>
  </div>

<%- include('../components/footer') %>